<h1 "lead text-center" "fw-bold"> Welcome back {{user.username}}!</h1>
<h2"lead text-center">You have {{coinCount}} coins in your collection</h2>
<div>
<button"btn btn-customcolor2">Add a coin to your collection</button>
</div>
<div>
<button class="btn btn-customcolor2">Look up a coin in your collection.</button>
</div>
{{!-- <h1>Welcome back {{user.username}} to Coin Tracker</h1> --}}
