<h1>Welcome back {{user.username}}!</h1>
<h2>You have {{coinCount}} coins in your collection</h2>
<div>
<button>Add a coin to your collection</button>
</div>
<div>
<button>Look up a coin in your collection.</button>
</div>
