:root{
--light: #ffc600;
--dark: #000000;
--secondary: #580fff;
/* --primary: #e900ff" */
}
body {
    background-color: #f1f1f1;
  }
  
  .coin-images img {
    width: 200px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .coin-images img:hover {
    transform: scale(1.1);
  }
  
  .login-form {
    margin-top: 50px;
  }
  .custom-navbar {
    background-color: var(--secondary);

    .custom-navbar a:hover {
      color: var(--light);
      
      .custom-btn:hover {
        background-color: var(--primary)
      }
    }}